.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/trajectories/
figures/old/
figures/fg-recovery/
figures/timeseries/
figures/recovery-metrics/
tables/kelp_frond_model.png/
tables/old/
code/exam-figures/
code/01a-kelp_recovery_diagnostics*
/data/all-species/biomass/knb-lter-sbc.119.11/
/data/all-species/biomass/knb-lter-sbc.119.11
data/all-species/biomass/knb-lter-sbc.119.11/
data/all-species-biomass/knb-lter-sbc.119.11
